<div class="container">
  <section class="section-book">
    <div class="row">
      <div class="book">
        <div class="book__form">
          <form class="form">
            <div class="head">
              <h2>
                START BOOKING NOW
              </h2>
            </div>

            <div class="form_group">
              <input type="text" class="form_input" placeholder="Enter City" id="name" required>
              <label for="name" class="form_label">Enter City</label>
            </div>

            <div class="form_group">
              <input type="text" class="form_input" placeholder="Start Date" id="start" required>
              <label for="start" class="form_label">Start Date</label>
            </div>

            <div class="form_group">
              <input type="text" class="form_input" placeholder="End Date" id="end" required>
              <label for="end" class="form_label">End Date</label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>