<div class="container">
  <section class="section-book">
    <div class="rowto">
      <div class="book">
        <div class="book__form">
          <form class="form">
            <div class="head">
              <h3>
                START BOOKING NOW
              </h3>
            </div>

            <div class="form_group">
              <!-- <input type="text" class="form_input" placeholder="Enter City" id="name" required>
              <label for="name" class="form_label">Enter City</label> -->
              <mat-form-field class="example-full-width" style="width:94%;">
                <input matInput #inputField placeholder="Enter City, Town, Hotels" [formControl]="searchControl" (input)="areaSearch()" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.area">
                      <span>{{ option.area }}</span> <span style="color:#7ed56f; float:right;">{{option.city}}</span>
                    </mat-option>
                  </mat-autocomplete> 
              </mat-form-field>
            </div>

            <div class="form_group" style="margin-right: 1rem;float: left;">
              <!-- <input type="text" class="form_input" placeholder="Start Date" id="start" required>
              <label for="start" class="form_label">Start Date</label> -->
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Start date" [(ngModel)]="start" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="form_group">
              <!-- <input type="text" class="form_input" placeholder="End Date" id="end" required>
              <label for="end" class="form_label">End Date</label> -->
              <mat-form-field>
                <input matInput [matDatepicker]="picker1" placeholder="End date" [(ngModel)]="end" [ngModelOptions]="{standalone: true}">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="form_group" style="margin-right: 1rem;float: left;">
              <mat-form-field>
                <mat-select placeholder="Adults" [(ngModel)]="adult" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let adult of adults" [value]="adult.value">
                    {{adult.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="form_group">
              <mat-form-field>
                <mat-select placeholder="Childrens" [(ngModel)]="child" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let child of childrens" [value]="child.value">
                    {{child.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="form_group">
                <div class="search">
                  <a style="color:aliceblue; padding:0.5rem" (click)=openListPage()>SEARCH</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>